* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
}

.container {
  width: 1440px;
  max-width: 90%;

  margin: 0 auto;
}
header {
  height: 70px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

header section.logo {
  font-size: 27px;
}

header section.logo span.blue-dot {
  background-color: #33c6dd;
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}

header nav ul {
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  margin-left: 26px;
}

header nav ul li a {
  color: #3e3e3e;
  text-decoration: none;
  font-size: 15px;
}

header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.hero {
  position: relative;
}

section.hero img {
  width: 100%;
  height: auto;
}

section.hero .hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

section.hero h1,
section.hero p {
  color: white;
  margin-top: 0;
  margin-bottom: 20px;
  max-width: 495px;
}

section.hero h1 {
  font-weight: 400;
  font-size: 50px;
  line-height: 56px;
}
section.hero p {
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
}
section.hero button {
  width: 200px;
  height: 50px;
  border: 1px solid #33c6dd;
  border-radius: 25px;
  background-color: #33c6dd;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}

section.best-sellers {
  padding-top: 90px;
  /* text-align: center; */
}
section.best-sellers h2 {
  margin-top: 0;
  font-size: 34px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  line-height: 42px;
}
section.best-sellers hr {
  margin: auto;
  width: 60px;
  border: none;
  height: 6px;
  background-color: #33c6dd;
  margin-bottom: 76px;
}
section.best-sellers .product-slider .container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

section.best-sellers .product-slider .container .product {
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  position: relative;
  padding: 40px;
}
section.best-sellers .product-slider .product.new .product-picture::before {
  content: "New";
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 5px 26px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  background: #614dc9;
  color: white;
  border-radius: 16px;
}
section.best-sellers .product-slider .product img {
  max-width: 100%;
}

section.best-sellers .product-slider .product h5 {
  margin: 10px 0;
  font-weight: 700;
  font-size: 14px;
  color: #33c6dd;
}
section.best-sellers .product-slider .product h4 {
  margin: 10px 0;
  font-weight: 400;
  font-size: 20px;
}
section.best-sellers .product-slider .product h3 {
  margin: 20px 0;
  font-weight: 400;
  font-size: 30px;
}
section.best-sellers .product-slider .product button {
  height: 44px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 25px;
  width: 220px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

section.best-sellers .product-slider .container .product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

section.Newsletter {
  background-color: #f5f5f5;
  width: 950px;
  max-width: 100%;
  margin: 80px auto;
  padding: 72px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section.Newsletter h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
section.Newsletter p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
section.Newsletter .form {
  display: flex;
  justify-content: center;
}
section.Newsletter input[type="email"] {
  width: 320px;
  height: 40px;
  border-radius: 25px 0 0 25px;
  padding: 0;
  padding-left: 24px;
  border: 1px solid #000;
  border-right: none;
}
section.Newsletter input[type="email"]::placeholder {
  color: #5c5b5b;
}
section.Newsletter button {
  height: 40px;
  background-color: #614dc9;
  border-radius: 0 25px 25px 0;
  padding: 0 36px;
  color: white;
  border: none;
  text-transform: uppercase;
}
